# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Makefile
autom4te.cache
.deps
config.status
config.log

src/worker

*~
*.swp
doc/~$worker.pptx
